@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  overflow-y: hidden;
  box-sizing: border-box;
  margin: 1rem;
}
:root {
  --target-color: #63ede8;
  --target-shadow: #2ce9e3b0;
}
body {
  background: rgb(23, 23, 23);
  color: #fff;
  font-family: "Press Start 2P", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}
h1,
h2 {
  text-shadow: 1px 2px 5px var(--target-shadow);
  margin-bottom: 3rem;
}

#cat_ten > div:nth-child(3) .title,
#cat_twenty > div:nth-child(3) .title {
  color: gold;
  text-shadow: 1px 2px 5px var(--target-shadow);
}

#cat_ten > div:nth-child(4) .title,
#cat_twenty > div:nth-child(4) .title {
  color: silver;
  text-shadow: 1px 2px 5px var(--target-shadow);
}

#cat_ten > div:nth-child(5) .title,
#cat_twenty > div:nth-child(4) .title {
  color: brown;
  text-shadow: 1px 2px 5px #2d2d2d;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  transition: 0.5s ease-out;
}

.btn {
  border: 0;
  background-color: rgb(63, 63, 63);
  color: #fff;
  padding: 20px 20px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 10px;
  transition: ease 0.3s;
  min-width: 200px;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
  box-shadow: 1px 2px 5px var(--target-shadow);
}

.btn:focus {
  outline: 0;
}

.screen.up {
  margin-top: -100vh;
}
.screen.down {
  margin-top: 100vh;
}

#screenHighscore {
  position: absolute;
  text-shadow: 1px 2px 5px var(--target-shadow);
  top: 0;
  visibility: hidden;
  font-size: 20px;
  & h4 {
    display: flex;
  }
  & #score {
    margin-top: 0px;
    font-size: 20px;
  }
  & #timer {
    margin-top: 0px;
    font-size: 20px;
  }
}
.highlight {
  color: var(--target-color);
}
.showScreen {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.hideScreen {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
}

.popScreen {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.452);
  position: fixed;
  z-index: 0;
  inset: 0;
  margin: 0;
  text-align: start;
  & .popScreen-content {
    min-width: 590px;
    padding: 0.5rem;
    min-height: 200px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(23, 23, 23);
    position: absolute;
    border: 1px solid var(--target-shadow);
    box-shadow: 1px 2px 5px var(--target-shadow);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    & .popScreen-content-title {
      font-size: 25px;
    }
    & .popScreen-content-body {
      font-size: 14px;
      & ol li {
        list-style-position: inside;
      }
    }
  }
  & .popScreen-close {
    position: inherit;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  & .popScreen-close:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
}

#game-container {
  position: relative;
  top: 0;
  left: 0;
  width: 95vw; /* Set width to 100vw to fill the entire viewport width */
  height: 85vh; /* Set height to 100vh to fill the entire viewport height */
  z-index: 2;
  border: 1px solid rgb(110, 110, 110);
  margin: 5rem auto;
}
.tag {
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  background-color: rgb(122, 122, 122);
  right: -6rem;
  top: 0rem;
  height: 60px;
  text-align: center;
  padding: 0 5rem 0 5rem;
  transform: rotate(45deg);
  & img {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
    cursor: pointer;
  }
  & img:hover {
    transform: scale(1.2);
  }
}
.mobile {
  display: none;
  width: 85%;
  margin: auto;
  color: rgb(236, 86, 86);
}
.bounce {
  animation: bounceInDown 0.8s;
  animation-iteration-count: infinite;
}
.target {
  user-select: none; /* Disable selection */
  width: 80px;
  height: 80px;
  background-color: var(--target-color);
  border-radius: 50%; /* Use border-radius 50% to make a perfect circle */
  display: inline-block;
  box-shadow: 0 0 20px var(--target-shadow);
  border: 1px solid rgb(41, 129, 41);
}
.flex {
  display: flex;
}
#cat_twenty,
#cat_ten {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .screen {
    display: none;
  }
  .mobile {
    display: flex;
  }
}

@keyframes bounceInDown {
  0%,
  80%,
  100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0px);
  }
}
